.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: green;
  overflow-x: hidden;
}

.header {
  background-color: #1e90ff;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}

.content {
  width: 85vw;
  min-height: 90vh;
  background-color: antiquewhite;
  overflow-x: hidden;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}

.sideMenu {
  width: 15vw;
  background-color: purple;
  overflow-x: hidden;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.footer {
  background-color: yellow;
  font-size: 1.5rem;
  min-height: 5vh;
  padding: 1rem 2rem;
}

.menu {
  background-color: red;
  margin-bottom: 1rem;
}

.childMenu {
  background-color: blue;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}


